@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<nav class="navbar is-success is-fixed-top" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" @onclick="@(() => NavigationManager.NavigateTo("/"))">
			<strong>
				Game Viewer
			</strong>
		</a>

		<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainMenu">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="mainMenu" class="navbar-menu">
		<div class="navbar-start">
			<div class="navbar-item">
				Coming soon!
			</div>
		</div>
	</div>
</nav>
<div class="container is-fluid is-paddingless">
	@Body
</div>
@code
{
	protected override async Task OnInitializedAsync()
	{

#if DEBUG

		const int Delay = 3000;
		Console.WriteLine($"Delaying execution {Delay}ms to allow debugger attachment.");
		await Task.Delay(Delay);
		Console.WriteLine("Resuming!");

#endif

	}
}